body {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

@mixin boxSizing() {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
}
@mixin ease-in-out() {
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
@mixin textOverflow() {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}
@mixin btn($w: 180px, $h: 40px, $bg: #3f98d7, $color: #fff, $borderRadius: 4px, $border: none) {
    width: $w;
    height: $h;
    background-color: $bg;
    border-radius: $borderRadius;
    text-align: center;
    border: $border;
    color: $color;
    line-height: $h;
    cursor: pointer;
    display: inline-block;
    &:hover {
        background-color: lighten($bg, 10%);
    }
}

div,ul,li, h1, h2,  h3, h4,h5,p {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    cursor: pointer;
    text-decoration: none;
}
em {
    font-style: normal;
}
.btn {
    text-align: center;
    color: #fff;
    font-size: 14px;
    @include  ease-in-out();
    
}
.clearfix:after {
    content: "";
    clear: both;
    display: block;
    overflow: hidden;
    font-size: 0;
    height: 0;
}

.left {
    float: left;
}

.right {
    float: right;
}